@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  background-color: #191a23;
  color: #FFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists{
  margin-top: -100px;
}

footer{
  margin: 50px 0;
  text-align: center;
}

.stream{
  margin-left: 200px;
  width: 100wv;
}